<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Three Boxes</title>
    <style>
        .box{
            display:inline-block;
            width:100px;
            height:100px;
            border-style: groove;
            border-width: 2px;
        }

        #darkkhaki-box{
            background-color:darkkhaki;
        }

        #blue-box{
            background-color:cadetblue;
        }

        #green-box{
            background-color:forestgreen;
        }
    </style>
</head>
<body>
    <h1>Welcome to three boxes</h1>
    <div class="box" id="blue-box"></div>
    <div class="box" id="blue-box"></div>
    <div class="box" id="blue-box"></div>
</body>
</html>
